body {
    width: 100%;
    height: auto;
    font-family: 'Bebas Neue';
}

nav {
    display: inline-block;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #00442b;
    ;
}

nav li {
    float: left;
    padding: 20px;
    text-decoration: none;
    list-style: none;
}

nav a {
    color: rgb(255, 4, 230);
    font-size: 20px
}

#elBoton {
    padding: 5px 15px 5px 15px;
    margin-top: -5px;
    color: rgb(255, 115, 0);
}

#elBoton:hover {
    background-color: #006aff;
}

tbody td {
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
}

tbody th {
    color: #51cda0;
}

tbody tr {
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
}

tbody td:first-child {
    color: #6d78ad;
}

.modal-form {
    height: 43vh;
}

#tablaPais {
    padding-top: 25em;
    width: 100%;
}

.close {
    display: none;
}

#covidChart {
    width: 100%;
}

.modal-content {
    height: 40vh;
}