body {
    width: 100%;
    height: auto;
    font-family: 'Bebas Neue';
}

nav {
    display: inline-block;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #00442b;
    ;
}

nav li {
    float: left;
    padding: 20px;
    text-decoration: none;
    list-style: none;
}

nav a {
    color: rgb(255, 4, 230);
    font-size: 20px
}

#elBoton {
    padding: 5px 15px 5px 15px;
    margin-top: -5px;
    color: rgb(255, 115, 0);
}

#elBoton:hover {
    background-color: #006aff;
}

tbody td {
    text-align: center;
    min-width: 200px;
    vertical-align: middle;
}

tbody th {
    color: #51cda0;
    font-weight: 600;
}

tbody tr {
    text-align: center;
    min-width: 200px;
    vertical-align: middle;
}

tbody td:first-child {
    font-weight: 600;
    color: #6d78ad;
}

.modal-form {
    height: 43vh !important;
}

#tablaPais {
    padding-top: 50px;
}

.close {
    display: none;
}

#covidChart {
    max-width: 1200px;
    margin: 0 auto;
}

.modal-content {
    height: 40vh;
}

.bg-round {
    width: 100%;
    height: auto;
    margin: 0 auto;
    min-height: 45vh;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}