body {
    font-family: 'Bebas Neue';
}

nav {
    display: inline-block;
    height: 80px;
    position: fixed;
    background-color: #000000;
    ;
}

nav li {
    float: left;
    padding: 20px;
    text-decoration: none;
    list-style: none;
}

nav a {
    color: rgb(255, 4, 230);
    font-size: 20px
}

#elBoton {
    padding: 5px 15px 5px 15px;
    margin-top: -5px;
    color: rgb(255, 115, 0);
}

#elBoton:hover {
    background-color: #006aff;
}

tbody td {
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
}

tbody th {
    color: #f2ff00;
    background-color: #0015ff;
}

tbody tr {
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
}

tbody td:first-child {
    color: #fff;
}

#tablaPais {
    padding-top: 25em;
    width: 100%;
}

.modal-content {
    height: 40vh;
}